@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  padding: 16px;
  background-color: #141414;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.button-div {
  position: fixed !important;
  display: flex !important;
  margin-right: 16px !important;
  width: 100%;
  justify-content: end;
  padding: 32px;
  transform: translate3d(0, 0, 0) scale(1) !important;
  transform-origin: 0px 0px;
  z-index: 5 !important;
}
header,
h2 {
  font-family: "Oswald", sans-serif;
}
svg {
  width: 24px;
  height: 24px;
}
.custom {
  width: calc(100% - 32px);
}
@media (max-width: 768px) {
  .custom {
    width: calc(100% - 32px);
    text-shadow: #141414 1px 0 10px;
  }
}

.staggerNation svg {
  width: 16px;
  height: 16px;
}
.staggerNation {
  width: fit-content;
}
@media (max-width: 768px) {
  .staggerNation {
    width: calc(100% - 32px);
  }
}
